<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="util.remoter.kotlinservice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <service
            android:name=".SampleKotlinService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="util.remoter.service.ITimeService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

    </application>

</manifest>