<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="util.remoter.remoterclient">

    <queries>
        <intent>
            <action android:name="util.remoter.service.ITimeService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">




        <activity
            android:name=".TestMemoryLeakActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="util.remoter.remoterservice.TestActivity" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SampleActivityShowingRemoterKotlin"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service android:name=".SampleKotlinService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="util.remoter.remoterclient.SampleKotlinService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>